.heading{
  color:white;
  margin:1px 0px 0px 30px;
  word-spacing:25px;
}
.author{
  color:white;
  margin:100px 100px 10px 100px;
  text-align:center;
  font-size:40px;
}
.name{
  color:white;
  margin:10px 50px 50px 50px;
  text-align:center;
  font-size:20px;
}
.content{
 font-family: "Times New Roman", Times, serif;
}
.button{
   border-radius:10%;
  background:grey;
   padding:5px 15px 5px 15px ;
}
.buttons{
  text-align:center;
  word-spacing:10px;
}
.videos{
  border-radius:10%;
  background:red;
  text-color:red;
   padding:5px 15px 5px 15px ;
}
.books{
   border-radius:10%;
  background:orange;
 padding:5px 15px 5px 15px ;
}
.quotes{
 color:white;
  text-align:center;
  padding:80px;
  font-size:20px;
}
.awards{
  text-align:center;
}
.awardname{
  border-radius:5%;
  border:groove black 1px;
 font-family: "Times New Roman", Times, serif;
  padding:5px 15px 5px 15px ;
}
.bold{
  font-size:30px;
}
li{
  text-align:left;
}
.conclusion{
  text-align:left;
/*   border-right:solid white 1px; */
  color:white;
  padding:10%;
}